<div class="team-wrapper">
  <div class="one">
          <div class="basic-card">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
             class="card-img"
            /><p class="a-2">RCB</p>
              <p class="a-3">Royal Challengers Bangalore</p>
              <p class="a-4">Players - 12</p>
         </div>
         <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4 vv">Players - 12</p>
        </div><div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4 vv">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4 vv">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4 vv">Players - 12</p>
        </div>
        <div class="basic-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
            class="card-img"
           /><p class="a-2">RCB</p>
             <p class="a-3">Royal Challengers Bangalore</p>
             <p class="a-4">Players - 12</p>
        </div>


        </div>
        <div class="reset" routerLink="">
            <img src="assets/asset/reset.svg" />
            <p class="team-data">&nbsp;Reset Team Data</p>
        </div>
 <div class="pen-container">
     <div class="seach-bar">
       <input type="text" placeholder="Search Teams" background/>
    </div>
   <div class="add-team">
    <img src="assets/asset/add-teams.svg" class="add-sign"/>

    <div class="add"> &nbsp; Add Teams</div>

  </div>


</div>
<div class="bar-2">
   <div class="ten-1">
       <div class="ten-1-1">10</div>
       <div class="ten-1-2">&nbsp;Teams</div>
   </div>
   <div class="bar-2-1">
       <div  class="ten-1-2">Sort By: &nbsp;</div>
       <div class="ten-1-1">Category &nbsp;</div>
       <div><img src="assets/asset/down-arrow.svg" class="down-arrow-1" /></div>
   </div>
</div>
</div>
