
      <div class="mask"></div>
      <div class="modal">
        <div class="team-cross">
          <div class="rep-teem">Team Repository</div>
          <div class="cross"routerLink=""><img src="assets/asset/close.svg" /></div>
        </div>
        <div class="select-teams">Select Teams</div>
        <div class="one">
                <div class="basic-card">
                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                   class="card-img"
                  /><p class="a-2">RCB</p>
                    <p class="a-3">Royal Challengers Bangalore</p>
                    <p class="a-4">Players - 12</p>
               </div>
               <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4 vv">Players - 12</p>
              </div><div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4 vv">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4 vv">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4 vv">Players - 12</p>
              </div>
              <div class="basic-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2p4nq57AjCiYv2m54pofq5MmuBB5kbjQg&usqp=CAU"
                  class="card-img"
                 /><p class="a-2">RCB</p>
                   <p class="a-3">Royal Challengers Bangalore</p>
                   <p class="a-4">Players - 12</p>
              </div>


              </div>
              <div class="res">
              <div class="reset">
                  <!-- <img src="asset/reset.svg" />
                  <p class="team-data">&nbsp;Reset Team Data</p> -->
                  <button class="btn-addteam" routerLink ="/screen-3">Add Teams</button>
              </div>
            </div>
       <div class="pen-container">
           <div class="seach-bar">
             <input type="text" placeholder="Search Teams" background/>
          </div>
         <div class="add-team1">
          <img src="assets/asset/add-teams.svg" class="add-sign"/>

          <div class="add"> &nbsp;Create New Teams</div>

        </div>


     </div>
     <div class="bar-2">
         <div class="ten-1">
             <div class="ten-1-1">20</div>
             <div class="ten-1-2">&nbsp;Teams</div>
         </div>
         <div class="bar-2-1">
             <div  class="ten-1-2">Showing: &nbsp;</div>
             <div class="ten-1-1">Indian Premier League Teams &nbsp;</div>
             <div><img src="assets/asset/down-arrow.svg" class="down-arrow-1" /></div>
         </div>
     </div>



