<div class="players-wrapper">
  <div class="add-player">
    <img src="assets/asset/lower-grid-1.svg" class="group-1375" />
    <p class="add-1">
      Get Started By Adding Teams & Players To The Tournament
    </p>
    <p class="add-2">
      To create events, add teams taking part in this tournament by
      clicking the “Add teams” button below and add players to these
      teams. Teams can be removed from the tournament if the team has not
      yet taken part in any of the events
    </p>
    <div class="add-team" routerLink="/screen-2">
      <img src="assets/asset/add-teams.svg" class="add-sign"/>

      <span class="add"> &nbsp; Add Teams</span>
    </div>
  </div>
</div>
