<div class="navbar">
  <div class="event">
    <img src="assets/asset/event.svg" class="group-1170" />
    <div class="n1">&nbsp;Events</div>
  </div>
  <div class="event">
    <img src="assets/asset/teams.svg" class="group-1219" />
    <div class="n2">Teams</div>
  </div>
  <div class="event">
    <img src="assets/asset/merch.svg" class="vector" />
    <div class="n3">&nbsp;Merchandises</div>
  </div>
  <div class="comment">
    <img src="assets/asset/mic.svg" class="group-img" />
    <div class="n4">&nbsp;Commentators</div>
  </div>
  <div class="event">
    <img src="assets/asset/sponsor.svg" class="group-1219" />
    <div class="n5">&nbsp;Sponsors</div>
  </div>
</div>

